<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <title>Online generátor náhodných čísel</title>
</head>

<body>
</body>
<h1>Umocněné číslo</h1>
<p style="font-size: 2em;">@ViewBag.Umocneno</p>
</html>